################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/PluginSystem/PluginSys/obj/*
/PluginSystem/Plugins/SystemPlugins/OptionsPlugin/obj/*
/PluginSystem/Plugins/Samples/SamplePlugin/*
/PluginSystem/Plugins/ParticleGenPlugin/obj/*
/ParticleGen/OpenTKLib/bin/*
/PluginSystem/Build/*
/ParticleGen/OpenTKLib/obj/*
/ParticleGen/ParticleGen/obj/*
/ParticleGen/ParticleGen/bin/*
/.vs/*
/hidden/*
/hidden2/*
/packages/*